<a href="https://colab.research.google.com/github/zadel28/nyu-python-public-policy/blob/master/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/311_Service_Requests_2018-19.csv', header='infer')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,17,20,31,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df.head()

   Unique Key  ...                                 Location
0    39888071  ...   (40.79333937834769, -73.9429417746998)
1    39889166  ...   (40.82012422332215, -73.9530712339799)
2    39882869  ...   (40.67080917938279, -73.9513990916184)
3    39894246  ...  (40.74026158873342, -73.99051651686905)
4    39881329  ...  (40.68814402968042, -73.75098958473612)

[5 rows x 41 columns]

In [0]:
df['Created Date'].max()

'12/31/2018 12:59:41 PM'

In [0]:
df['Created Date'].min()

'01/01/2019 01:00:00 PM'

Does anything about the resulting min and max values surprise you? What do you think causes this? 

When using the min and max functions, the resulting maximum date is an earlier date than the minimum date. It seems like Python is treating the date as an integer, where 01012019 is the smallest value and 12312018 is the largest.

In [0]:
df['Created Date'].head()

0    08/01/2018 12:00:10 AM
1    08/01/2018 12:00:26 AM
2    08/01/2018 12:00:54 AM
3    08/01/2018 12:01:00 AM
4    08/01/2018 12:01:00 AM
Name: Created Date, dtype: object

In [0]:
df['Created Date'].tail()

2859195    08/24/2019 02:00:14 AM
2859196    08/24/2019 02:00:20 AM
2859197    08/24/2019 02:00:27 AM
2859198    08/24/2019 02:00:54 AM
2859199    08/24/2019 02:00:56 AM
Name: Created Date, dtype: object

Questions from doing the tutorials: 1) Each time we import a package -- e.g. numpy, do we have to use the drive.mount command? Or is it just for the first package? 2) Why do we specify delimiter instead of header when we read in the zoo dataset?